### ðŸš€ Correlation Analysis

In [ ]:
import pandas as pd

# Reading data from CSV
df = pd.read_csv("../data/data.csv")
df

    number_courses  time_study   Marks
0                3       4.508  19.202
1                4       0.096   7.734
2                4       3.133  13.811
3                6       7.909  53.018
4                8       7.811  55.299
..             ...         ...     ...
95               6       3.561  19.128
96               3       0.301   5.609
97               4       7.163  41.444
98               7       0.309  12.027
99               3       6.335  32.357

[100 rows x 3 columns]

In [ ]:
import math

# Calculate means of the columns
x_mean = df['time_study'].mean()
y_mean = df['Marks'].mean()

# Calculate the differences from the mean
df['s1'] = df['time_study'] - x_mean
df['s2'] = df['Marks'] - y_mean
# Calculate the product of differences
df['s'] = df['s1'] * df['s2']

# Square the differences
df['s1'] = df['s1'] ** 2
df['s2'] = df['s2'] ** 2

# Calculate the correlation coefficient
r = float(df['s'].sum() / math.sqrt(df['s1'].sum() * df['s2'].sum()))
r

0.9422538903640542

### ðŸš€ Linear Regression Analysis

In [19]:
# Calculate the slope (b) and intercept (a) for the regression line
df['s'].map(lambda i: math.sqrt(i) if i > 0 else math.sqrt(i * -1))
b = df['s'].sum() / df['s1'].sum()
a = y_mean - (b * x_mean)

# Predict marks based on hours studied
hours_studied = int(input("Hours you studied: "))
y = a + (b * hours_studied)
print(f"Marks: {y} if studied {hours_studied}h")

Marks: 46.73386147750651 if studied 8h